
.avail_button {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  padding: 12px 105px;
}

.avail_button .btn-lg {
  width: 120px;
  height: 40px;
  border-radius: initial;
}

.avail_button .leave_btn {
  background-color: #F38F31;
  border: none;
  margin-right: 6px;
  font-size: 15px;
}

.avail_button .block_btn {
  background-color: #818181;
  border: none;
  font-size: 15px;
}

/* .opacity_letter_availability .ant-select-selection-selected-value{
  opacity: 0.5 !important;
} */

.opacity_letter_availability div div {
  border-radius: 2px;
}

.errormsgAvailability{
  font-size: 12px;
  color: red;
  white-space: nowrap;
  position: relative;
    bottom: 10px;
}